.vscode
.gitignore
./Project/*~
./Project/_*
./Project/*.o
./Project/*.d
./Project/*.asm
./Project/*.sym
./Project/*.img
./Project/vectors.S
./Project/bootblock
./Project/entryother
./Project/initcode
./Project/initcode.out
./Project/kernelmemfs
./Project/mkfs
./Project/kernel/kernel
./Project/user/usys.S
./Project/.gdbinit